<div class="body">
  <div class="forgot-container">
    <h2 class="heading">
      Loan Manager
      <mat-divider></mat-divider>
      <p>Enter your email to recover your password</p>
    </h2>
    <form class="forgot-form" [formGroup]="FORM" (ngSubmit)="doSubmit()">
      <mat-form-field class="forgot-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. hello@owncodes.com"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="
            FORM.controls['email'].touched &&
            !FORM.controls['email'].hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="FORM.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        [disabled]="!FORM.valid"
        mat-raised-button
        color="primary"
      >
        <mat-icon>send</mat-icon>
        Submit
      </button>

      <button
        mat-button
        color="primary"
        type="button"
        class="f-right"
        routerLink="/auth/login"
      >
        <mat-icon>login</mat-icon>
        Login
      </button>
    </form>
  </div>
</div>
