.footer {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(187, 184, 184);

  p {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    color: #858484;
    padding: 12px 5px 0 10px;

    a {
      text-decoration: none;
      font-weight: 600;
      color: #cd0f0f;
      letter-spacing: 2px;
    }

    span.app-name-version {
      float: right;
      clear: both;

      b {
        color: rgb(32, 32, 32);
      }
    }
  }
}
