<div class="body">
  <div class="login-container">
    <h2 class="heading">
      Loan Manager
      <mat-divider></mat-divider>
      <p class="solugan">Sign In to start your session</p>
    </h2>
    <form class="login-form" [formGroup]="FORM" (ngSubmit)="doSubmit()">
      <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. hello@owncodes.com"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="
            FORM.controls['email'].touched &&
            !FORM.controls['email'].hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="FORM.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="******"
        />
        <mat-icon matSuffix>key</mat-icon>
        <mat-error *ngIf="FORM.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <button
        type="submit"
        [disabled]="!FORM.valid"
        mat-raised-button
        color="primary"
      >
        <mat-icon>login</mat-icon>
        Login
      </button>

      <button
        mat-button
        color="primary"
        type="button"
        class="f-right"
        routerLink="/auth/forgot-password"
      >
        Forgot Password?
      </button>
    </form>
  </div>
</div>
